<!DOCTYPE html>
<html>
<head>
  <title>Refinerycms markdown</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "refinerycms/markdown/application", media: "all" %>
  <%= javascript_include_tag "refinerycms/markdown/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
